[submodule "bash/LS_COLORS"]
	path = bash/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:zuidec/nvim.git
	branch = main
	update = rebase
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
